openapi: 3.0.3
info:
  title: Fundable People API
  description: |
    API for accessing people data including search with advanced filtering and detailed person profiles.

    ## Authentication
    All API requests require authentication using an API key in the Authorization header.

    ## Rate Limits
    API usage is tracked and may be subject to monthly limits depending on your API key tier.

    ## Person Identifiers
    People can be identified using:
    - UUID format (e.g., "550e8400-e29b-41d4-a716-446655440000")
    - LinkedIn ID (e.g., "john-doe-12345")
    - Crunchbase ID (e.g., "person/john-doe")

  version: 1.0.0
  contact:
    name: Fundable API Support
    url: jacob@tryfundable.ai
  license:
    name: Proprietary
    url: https://www.tryfundable.ai/terms/privacy/

servers:
  - url: https://tryfundable.ai/api/v1
    description: Production server
  - url: http://localhost:8082/api/v1
    description: Development server

security:
  - bearerAuth: []

paths:
  /people:
    get:
      summary: Search people with filters
      description: |
        Search for people with advanced filtering options including roles, industries,
        company characteristics, funding data, and investor relationships.

        ## Pagination
        - Maximum 500 results per request
        - Use `page` and `page_size` for pagination

        ## Contact Information
        Email and phone fields are included in API responses when available.
        `has_email` and `has_phone` flags indicate whether contact data exists.
      operationId: searchPeople
      parameters:
        # Pagination
        - name: page
          in: query
          description: Page number (0-indexed)
          schema:
            type: integer
            minimum: 0
            default: 0
            example: 0
        - name: page_size
          in: query
          description: Results per page (max 500)
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 25
            example: 25
        - name: sort_by
          in: query
          description: Sort field
          schema:
            type: string
            enum: [latest_deal_date, followers, connections, total_raised, latest_deal_size, name]
            default: latest_deal_date
            example: latest_deal_date

        # People-specific filters
        - name: roles
          in: query
          description: Filter by person's role at their company (comma-separated)
          schema:
            type: string
            example: "founder,ceo"
          style: form
          explode: false
        - name: contact_types
          in: query
          description: Filter by available contact info (comma-separated)
          schema:
            type: string
            example: "email,linkedin"
          style: form
          explode: false
        - name: job_titles
          in: query
          description: Filter by normalized job title keys (comma-separated)
          schema:
            type: string
            example: "ceo,cto,vp-engineering"
          style: form
          explode: false
        - name: education_schools
          in: query
          description: Filter by education institution IDs (comma-separated)
          schema:
            type: string
            example: "stanford-university,mit"
          style: form
          explode: false
        - name: linkedin_companies
          in: query
          description: Filter by previous/current employer company IDs (comma-separated)
          schema:
            type: string
            example: "google,meta"
          style: form
          explode: false
        - name: people_ids
          in: query
          description: Filter by specific person UUIDs (comma-separated)
          schema:
            type: string
            example: "550e8400-e29b-41d4-a716-446655440000"
          style: form
          explode: false

        # Company filters
        - name: industries
          in: query
          description: Filter by industry permalinks (comma-separated)
          schema:
            type: string
            example: "artificial-intelligence,fintech"
          style: form
          explode: false
        - name: super_categories
          in: query
          description: Filter by super category permalinks (comma-separated)
          schema:
            type: string
            example: "financial-services,technology"
          style: form
          explode: false
        - name: locations
          in: query
          description: Filter by company location permalinks (comma-separated)
          schema:
            type: string
            example: "san-francisco,new-york"
          style: form
          explode: false
        - name: employee_count
          in: query
          description: Filter by company employee count ranges (comma-separated)
          schema:
            type: string
            example: "11-50,51-100"
          style: form
          explode: false
        - name: company_ids
          in: query
          description: Filter by specific company UUIDs (comma-separated)
          schema:
            type: string
            example: "660e8400-e29b-41d4-a716-446655440000"
          style: form
          explode: false
        - name: ipo_status
          in: query
          description: Filter by IPO status (comma-separated)
          schema:
            type: string
            enum: [private, public, acquired, delisted]
            example: "private"
          style: form
          explode: false
        - name: total_raised_min
          in: query
          description: Minimum total company funding raised (USD)
          schema:
            type: integer
            minimum: 0
            example: 1000000
        - name: total_raised_max
          in: query
          description: Maximum total company funding raised (USD)
          schema:
            type: integer
            minimum: 0
            example: 100000000
        - name: company_founded_start
          in: query
          description: Company founded after date (ISO 8601)
          schema:
            type: string
            format: date
            example: "2020-01-01"
        - name: company_founded_end
          in: query
          description: Company founded before date (ISO 8601)
          schema:
            type: string
            format: date
            example: "2024-12-31"

        # Deal filters (for company's latest deal)
        - name: deal_start_date
          in: query
          description: Latest deal date start (ISO 8601)
          schema:
            type: string
            format: date
            example: "2024-01-01"
        - name: deal_end_date
          in: query
          description: Latest deal date end (ISO 8601)
          schema:
            type: string
            format: date
            example: "2024-12-31"
        - name: deal_size_min
          in: query
          description: Minimum latest deal size (USD)
          schema:
            type: integer
            minimum: 0
            example: 1000000
        - name: deal_size_max
          in: query
          description: Maximum latest deal size (USD)
          schema:
            type: integer
            minimum: 0
            example: 50000000
        - name: financing_types
          in: query
          description: Filter by deal financing types (comma-separated, uppercase)
          schema:
            type: string
            example: "SERIES_A,SERIES_B,SEED"
          style: form
          explode: false

        # Investor filters
        - name: investor_ids
          in: query
          description: Filter by investor UUIDs (comma-separated) - matches ANY deal
          schema:
            type: string
            example: "770e8400-e29b-41d4-a716-446655440000"
          style: form
          explode: false
        - name: investor_locations
          in: query
          description: Filter by investor HQ locations (comma-separated)
          schema:
            type: string
            example: "san-francisco,boston"
          style: form
          explode: false

      responses:
        '200':
          description: Successful search results
          content:
            application/json:
              schema:
                type: object
                required: [success, data, meta]
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    required: [people]
                    properties:
                      people:
                        type: array
                        items:
                          $ref: '#/components/schemas/PersonSearchResult'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
              example:
                success: true
                data:
                  people:
                    - id: "550e8400-e29b-41d4-a716-446655440000"
                      name: "Jane Doe"
                      title: "CEO"
                      linkedin_url: "https://linkedin.com/in/jane-doe"
                      profile_image_url: "https://example.com/jane.jpg"
                      location: "San Francisco, CA"
                      is_founder: true
                      is_ceo: true
                      has_email: true
                      has_phone: true
                      email: "jane.doe@acmeinc.com"
                      phone: "+1-555-123-4567"
                      followers: 15000
                      employment_history:
                        - title: "CEO"
                          company_name: "Acme Inc"
                          start_date: "2022-01-01"
                          is_current: true
                      education_history:
                        - degree: "MBA"
                          school_name: "Stanford GSB"
                      company:
                        id: "660e8400-e29b-41d4-a716-446655440000"
                        name: "Acme Inc"
                        latest_deal_type: "SERIES_A"
                        latest_deal_size: 10
                meta:
                  limit: 25
                  offset: 0
                  total_count: 1250
                  remaining_requests: 975
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
        '422':
          description: Unknown parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnknownParamError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'

  /people/{identifier}:
    get:
      summary: Get person details by identifier
      description: |
        Retrieve detailed person information using UUID, LinkedIn ID, or Crunchbase ID.

        Returns FULL employment and education history (not limited like search results).

        ## Identifier Detection
        - UUIDs are detected by format (8-4-4-4-12 hex characters)
        - Identifiers containing "/" are treated as Crunchbase IDs
        - All other identifiers are treated as LinkedIn IDs

        ## Contact Information
        Email and phone fields are included in API responses when available.
      operationId: getPerson
      parameters:
        - name: identifier
          in: path
          required: true
          description: |
            Person identifier - can be:
            - UUID format (e.g., "550e8400-e29b-41d4-a716-446655440000")
            - LinkedIn ID (e.g., "jane-doe-12345")
            - Crunchbase ID (e.g., "person/jane-doe")
          schema:
            type: string
          examples:
            uuid:
              value: "550e8400-e29b-41d4-a716-446655440000"
              summary: "UUID identifier"
            linkedin:
              value: "jane-doe-12345"
              summary: "LinkedIn ID"
            crunchbase:
              value: "person/jane-doe"
              summary: "Crunchbase ID"
      responses:
        '200':
          description: Successful response with person data
          content:
            application/json:
              schema:
                type: object
                required: [success, data, meta]
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    required: [person]
                    properties:
                      person:
                        $ref: '#/components/schemas/PersonDetail'
                  meta:
                    type: object
                    properties:
                      remaining_requests:
                        type: integer
                        nullable: true
                        example: 990
        '400':
          description: Invalid identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidIdentifierError'
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
        '404':
          description: Person not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: |
        API key authentication using Bearer token format.
        Format: `Authorization: Bearer vg_your_api_key_here`

  schemas:
    PersonSearchResult:
      type: object
      description: Person data returned in search results (limited history)
      properties:
        id:
          type: string
          format: uuid
          example: "550e8400-e29b-41d4-a716-446655440000"
        name:
          type: string
          nullable: true
          example: "Jane Doe"
        title:
          type: string
          nullable: true
          description: Current job title
          example: "CEO"
        linkedin_url:
          type: string
          nullable: true
          format: uri
          example: "https://linkedin.com/in/jane-doe"
        linkedin_id:
          type: string
          nullable: true
          example: "jane-doe-12345"
        crunchbase_url:
          type: string
          nullable: true
          format: uri
        crunchbase_id:
          type: string
          nullable: true
        profile_image_url:
          type: string
          nullable: true
          format: uri
        location:
          type: string
          nullable: true
          example: "San Francisco, CA"
        city:
          type: string
          nullable: true
        country_code:
          type: string
          nullable: true
        about:
          type: string
          nullable: true
          description: LinkedIn bio/about section
        is_founder:
          type: boolean
          example: true
        is_ceo:
          type: boolean
          example: true
        is_key_person:
          type: boolean
          example: false
        is_current:
          type: boolean
          description: Currently at this company
          example: true
        has_email:
          type: boolean
          description: Whether email data exists for this person
          example: true
        has_phone:
          type: boolean
          description: Whether phone data exists for this person
          example: false
        email:
          type: string
          nullable: true
          format: email
          description: Email address (included when available)
        phone:
          type: string
          nullable: true
          description: Phone number (included when available)
        followers:
          type: integer
          nullable: true
          description: LinkedIn follower count
          example: 15000
        connections:
          type: integer
          nullable: true
          description: LinkedIn connection count
        employment_history:
          type: array
          description: Recent employment (limited to 3 in search, full in detail)
          maxItems: 3
          items:
            $ref: '#/components/schemas/EmploymentRecord'
        education_history:
          type: array
          description: Education records (limited to 3 in search, full in detail)
          maxItems: 3
          items:
            $ref: '#/components/schemas/EducationRecord'
        company:
          $ref: '#/components/schemas/PersonCompany'

    PersonDetail:
      allOf:
        - $ref: '#/components/schemas/PersonSearchResult'
        - type: object
          description: Full person details (unlimited history)
          properties:
            banner_image_url:
              type: string
              nullable: true
              format: uri
            employment_history:
              type: array
              description: Full employment history (no limit)
              items:
                $ref: '#/components/schemas/EmploymentRecord'
            education_history:
              type: array
              description: Full education history (no limit)
              items:
                $ref: '#/components/schemas/EducationRecord'

    EmploymentRecord:
      type: object
      properties:
        title:
          type: string
          nullable: true
          example: "CEO"
        company_name:
          type: string
          nullable: true
          example: "Acme Inc"
        company_id:
          type: string
          nullable: true
        company_url:
          type: string
          nullable: true
          format: uri
        company_logo_url:
          type: string
          nullable: true
          format: uri
        location:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        start_date:
          type: string
          format: date
          nullable: true
        end_date:
          type: string
          format: date
          nullable: true
          description: null if current position
        is_current:
          type: boolean
          example: true

    EducationRecord:
      type: object
      properties:
        school_name:
          type: string
          nullable: true
          example: "Stanford University"
        school_id:
          type: string
          nullable: true
        school_url:
          type: string
          nullable: true
          format: uri
        school_logo_url:
          type: string
          nullable: true
          format: uri
        degree:
          type: string
          nullable: true
          example: "MBA"
        field_of_study:
          type: string
          nullable: true
          example: "Business Administration"
        start_date:
          type: string
          nullable: true
        end_date:
          type: string
          nullable: true
        description:
          type: string
          nullable: true

    PersonCompany:
      type: object
      description: Current company information
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          nullable: true
        guru_permalink:
          type: string
          nullable: true
        domain:
          type: string
          nullable: true
        image:
          type: string
          nullable: true
          format: uri
        short_description:
          type: string
          nullable: true
        num_employees:
          type: string
          nullable: true
          example: "51-100"
        total_raised:
          type: integer
          nullable: true
          description: Total funding raised in USD
        num_funding_rounds:
          type: integer
          nullable: true
        founded_date:
          type: string
          format: date
          nullable: true
        industries:
          type: array
          nullable: true
          items:
            type: object
            properties:
              name:
                type: string
              permalink:
                type: string
        location:
          type: object
          nullable: true
          properties:
            region:
              type: object
              nullable: true
              properties:
                name:
                  type: string
                permalink:
                  type: string
            country:
              type: object
              nullable: true
            state:
              type: object
              nullable: true
            city:
              type: object
              nullable: true
        latest_deal_type:
          type: string
          nullable: true
          example: "series-a"
        latest_deal_date:
          type: string
          format: date
          nullable: true
        latest_deal_size:
          type: integer
          nullable: true
          description: Latest deal size in USD

    PaginationMeta:
      type: object
      properties:
        limit:
          type: integer
          example: 25
        offset:
          type: integer
          example: 0
        total_count:
          type: integer
          description: Total matching results count
          example: 1250
        remaining_requests:
          type: integer
          nullable: true
          example: 975

    AuthError:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              enum: [AUTH_ERROR, INVALID_API_KEY, INACTIVE_API_KEY]
            message:
              type: string
            details:
              type: object
              properties:
                help:
                  type: string
                format:
                  type: string

    ValidationError:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: string
              example: "VALIDATION_ERROR"
            message:
              type: string
            details:
              type: object
              properties:
                errors:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                      value:
                        type: string
                      message:
                        type: string
                      code:
                        type: string
                      validOptions:
                        type: array
                        items:
                          type: string

    UnknownParamError:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: string
              example: "UNKNOWN_PARAMETER"
            message:
              type: string
            details:
              type: object
              properties:
                unknownParameters:
                  type: array
                  items:
                    type: string
                allowedParameters:
                  type: array
                  items:
                    type: string

    InvalidIdentifierError:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: string
              example: "INVALID_IDENTIFIER"
            message:
              type: string
            details:
              type: object
              properties:
                help:
                  type: string

    NotFoundError:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: string
              example: "PERSON_NOT_FOUND"
            message:
              type: string
              example: "Person not found"
            details:
              type: object
              properties:
                help:
                  type: string

    RateLimitError:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              example: "RATE_LIMIT_EXCEEDED"
            message:
              type: string
            details:
              type: object
              properties:
                monthly_limit:
                  type: integer
                current_usage:
                  type: integer
                remaining_requests:
                  type: integer

    ServerError:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              example: "INTERNAL_SERVER_ERROR"
            message:
              type: string

tags:
  - name: people
    description: People data and search operations
