openapi: 3.0.3
info:
  title: Fundable Deals API
  description: |
    API for accessing venture capital deals data with advanced filtering capabilities.

    ## Authentication
    All API requests require authentication using an API key in the Authorization header.

    ## Rate Limits
    API usage is tracked and may be subject to monthly limits depending on your API key tier.

    ## Request Body Structure
    Send a JSON body with up to 4 filter sections plus pagination/sort at the top level:
    - `identifiers` - Look up specific deals by UUID
    - `deal` - Filter by deal attributes (financing type with pre/extension modifiers, size, date)
    - `company` - Filter by company attributes (location, industry, size, IPO status)
    - `investors` - Filter by investor participation

    ## Parameter Validation
    This API enforces strict parameter validation:
    - **Unknown Fields**: Any field not in the allowed list will result in a `422 UNKNOWN_PARAMETER` error
    - **Enum Values**: Parameters like `financing_types`, `sort_by`, `employee_count`, and `ipo_status` only accept exact enum values
    - **Data Types**: Numeric parameters must be valid numbers, dates must be valid ISO 8601 format
    - **Array Parameters**: Cannot be empty arrays; provide values or omit entirely

    ## Validation Errors
    Invalid parameters return detailed error responses with:
    - Specific error codes (e.g., `INVALID_FINANCING_TYPE`, `UNKNOWN_PARAMETER`)
    - Clear error messages explaining what's wrong
    - Valid options for enum parameters
    - Help text and documentation links

  version: 2.0.0
  contact:
    name: Fundable API Support
    url: jacob@tryfundable.ai
  license:
    name: Proprietary
    url: https://www.tryfundable.ai/terms/privacy/

servers:
  - url: https://tryfundable.ai/api/v1
    description: Production server
  - url: http://localhost:8082/api/v1
    description: Development server

security:
  - bearerAuth: []

paths:
  /deals:
    post:
      summary: Search and filter funding rounds by company, investor, and round details
      description: |
        Retrieve venture capital deals with advanced filtering, pagination, and sorting.

        ## Request Body Structure
        Send a JSON body with up to 4 filter sections plus pagination/sort at the top level:
        - `identifiers` - Look up specific deals by UUID
        - `deal` - Filter by deal attributes (financing type, size, date)
        - `company` - Filter by company attributes (location, industry, size)
        - `investors` - Filter by investor participation
      operationId: searchDeals
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                identifiers:
                  type: object
                  description: Look up specific deals by identifier
                  properties:
                    deal_ids:
                      type: array
                      description: Deal UUIDs
                      items:
                        type: string
                        format: uuid
                      example: ["550e8400-e29b-41d4-a716-446655440000"]
                deal:
                  type: object
                  description: Deal attribute filters
                  properties:
                    financing_types:
                      type: array
                      description: "Financing types with optional modifiers (pre, extension)"
                      items:
                        type: object
                        required:
                          - type
                        properties:
                          type:
                            type: string
                            enum: [
                              'SERIES_A', 'SERIES_B', 'SERIES_C', 'SERIES_D', 'SERIES_E', 'SERIES_F',
                              'SERIES_G', 'SERIES_H', 'SERIES_I', 'SERIES_J', 'SERIES_K', 'SERIES_L',
                              'SERIES_M', 'SEED', 'SAFE', 'CONVERTIBLE_NOTE', 'EQUITY', 'PREFERRED',
                              'SECONDARY_MARKET', 'DEBT_FINANCING', 'GRANT', 'NON_EQUITY_ASSISTANCE',
                              'CROWDFUNDING', 'INITIAL_COIN_OFFERING', 'FUNDING_ROUND'
                            ]
                          pre:
                            type: boolean
                            default: false
                            description: "Pre-round modifier (e.g., Pre-Seed, Pre-Series A)"
                          extension:
                            type: boolean
                            default: false
                            description: "Extension round modifier"
                      example:
                        - { "type": "SEED", "pre": true }
                        - { "type": "SERIES_A" }
                    size_min:
                      type: number
                      minimum: 0
                      description: Minimum deal size (USD $M)
                      example: 1
                    size_max:
                      type: number
                      minimum: 0
                      description: Maximum deal size (USD $M)
                      example: 100
                    date_start:
                      type: string
                      format: date
                      description: Filter deals announced after this date (ISO 8601)
                      example: "2024-01-01"
                    date_end:
                      type: string
                      format: date
                      description: Filter deals announced before this date (ISO 8601)
                      example: "2024-12-31"
                    created_start:
                      type: string
                      format: date
                      description: Filter deals added to the system after this date (ISO 8601)
                      example: "2024-01-01"
                    created_end:
                      type: string
                      format: date
                      description: Filter deals added to the system before this date (ISO 8601)
                      example: "2024-12-31"
                company:
                  type: object
                  description: Company attribute filters
                  properties:
                    company_ids:
                      type: array
                      description: Company UUIDs - filter deals by specific companies
                      items:
                        type: string
                        format: uuid
                      example: ["550e8400-e29b-41d4-a716-446655440001"]
                    locations:
                      type: array
                      description: Location permalinks. Use /location/search to find permalinks.
                      items:
                        type: string
                      example: ["san-francisco", "california"]
                    industries:
                      type: array
                      description: Industry permalinks
                      items:
                        type: string
                      example: ["artificial-intelligence", "fintech-e067"]
                    super_categories:
                      type: array
                      description: Super category permalinks (automatically includes related industries)
                      items:
                        type: string
                      example: ["artificial-intelligence-e551"]
                    employee_count:
                      type: array
                      description: "Employee count ranges. Valid: 1-10, 11-50, 51-100, 101-250, 251-500, 501-1000, 1001-5000, 5001-10000, 10001+"
                      items:
                        type: string
                        enum: ['1-10', '11-50', '51-100', '101-250', '251-500', '501-1000', '1001-5000', '5001-10000', '10001+']
                      example: ["1-10", "11-50"]
                    total_raised_min:
                      type: number
                      minimum: 0
                      description: Minimum total raised (USD $M)
                      example: 10
                    total_raised_max:
                      type: number
                      minimum: 0
                      description: Maximum total raised (USD $M)
                      example: 500
                    ipo_status:
                      type: array
                      description: "IPO status filter. Valid: public, private"
                      items:
                        type: string
                        enum: ['public', 'private']
                      example: ["private"]
                investors:
                  type: object
                  description: Filter by investor participation
                  properties:
                    investor_ids:
                      type: array
                      description: Investor UUIDs
                      items:
                        type: string
                        format: uuid
                      example: ["c5a3f6ac-f6c9-4686-aa6e-12aeb7419b82"]
                page:
                  type: integer
                  minimum: 0
                  default: 0
                  description: Page number (0-based)
                page_size:
                  type: integer
                  minimum: 1
                  maximum: 100
                  default: 10
                  description: Number of results per page
                sort_by:
                  type: string
                  enum:
                    - 'most_recent_deal'
                    - 'oldest_deal'
                    - 'largest_raise'
                    - 'smallest_raise'
                  default: 'most_recent_deal'
                  description: Sort order for results
            examples:
              filter_by_financing:
                summary: Filter by financing type
                value:
                  deal:
                    financing_types:
                      - { "type": "SERIES_A" }
                      - { "type": "SERIES_B" }
                  page_size: 10
              filter_pre_seed:
                summary: Filter for pre-seed deals
                value:
                  deal:
                    financing_types:
                      - { "type": "SEED", "pre": true }
                  page_size: 10
              filter_by_company:
                summary: Filter by company attributes
                value:
                  company:
                    industries: ["artificial-intelligence"]
                    ipo_status: ["private"]
                  deal:
                    size_min: 5
                    size_max: 100
                  page_size: 10
              lookup_by_ids:
                summary: Look up specific deals
                value:
                  identifiers:
                    deal_ids: ["550e8400-e29b-41d4-a716-446655440000"]

      responses:
        '200':
          description: Successful response with deals data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      deals:
                        type: array
                        items:
                          $ref: '#/components/schemas/Deal'
                  meta:
                    type: object
                    properties:
                      total_count:
                        type: integer
                        description: Total number of deals matching the filter criteria
                        example: 1547
                      page:
                        type: integer
                        description: Current page number (0-based)
                        example: 0
                      page_size:
                        type: integer
                        description: Number of results per page
                        example: 10
                      remaining_requests:
                        type: integer
                        nullable: true
                        description: Remaining API requests for the current month (null if unlimited)
                        example: 990
                required:
                  - success
                  - data
                  - meta
        '400':
          description: Bad Request - Invalid parameter types or malformed JSON
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
        '422':
          description: Unprocessable Entity - Parameter validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              schema:
                type: integer
                example: 3600
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'

  /deals/{id}:
    get:
      summary: Get a specific deal by ID
      description: Retrieve detailed information about a single venture capital deal by its unique identifier
      operationId: getDealById
      parameters:
        - name: id
          in: path
          description: Unique identifier for the deal (UUID format)
          required: true
          schema:
            type: string
            format: uuid
            example: "550e8400-e29b-41d4-a716-446655440000"
      responses:
        '200':
          description: Successful response with deal data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      deal:
                        $ref: '#/components/schemas/Deal'
                required:
                  - success
                  - data
        '400':
          description: Bad Request - Invalid deal ID format or unsupported query parameters
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        example: false
                      error:
                        type: object
                        properties:
                          code:
                            type: string
                            example: "INVALID_DEAL_ID"
                          message:
                            type: string
                            example: "Deal ID must be a valid UUID"
                          details:
                            type: object
                            properties:
                              help:
                                type: string
                                example: "Please provide a valid UUID format for the deal ID"
                      statusCode:
                        type: integer
                        example: 400
                  - type: object
                    properties:
                      success:
                        type: boolean
                        example: false
                      error:
                        type: object
                        properties:
                          code:
                            type: string
                            example: "INVALID_PARAMETERS"
                          message:
                            type: string
                            example: "Query parameters are not supported for this endpoint"
                          details:
                            type: object
                            properties:
                              providedParameters:
                                type: array
                                items:
                                  type: string
                                example: ["page", "sort_by"]
                              help:
                                type: string
                                example: "This endpoint only accepts a deal ID in the path. Remove all query parameters."
                      statusCode:
                        type: integer
                        example: 400
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
        '404':
          description: Deal not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        example: "DEAL_NOT_FOUND"
                      message:
                        type: string
                        example: "Deal not found"
                      details:
                        type: object
                        properties:
                          help:
                            type: string
                            example: "Please check the deal ID and try again"
                  statusCode:
                    type: integer
                    example: 404
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              schema:
                type: integer
                example: 3600
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'

  /deals/{id}/investors:
    get:
      summary: Get investors for a specific deal
      description: Retrieve detailed investor information for a single deal, including lead status, personnel, and investor profile links.
      operationId: getDealInvestors
      parameters:
        - name: id
          in: path
          description: Unique identifier for the deal (UUID format)
          required: true
          schema:
            type: string
            format: uuid
            example: "550e8400-e29b-41d4-a716-446655440000"
      responses:
        '200':
          description: Successful response with deal investors
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      investors:
                        type: array
                        items:
                          $ref: '#/components/schemas/DealInvestor'
                required:
                  - success
                  - data
        '400':
          description: Bad Request - Invalid deal ID format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
        '404':
          description: Deal not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        example: "DEAL_NOT_FOUND"
                      message:
                        type: string
                        example: "Deal not found"
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: |
        API key authentication using Bearer token format.
        Format: `Authorization: Bearer vg_your_api_key_here`

        API keys follow the pattern: `vg_[12_hex_chars]_[32_base64url_chars]`

  schemas:
    Deal:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the deal
          example: "550e8400-e29b-41d4-a716-446655440000"
        round_type:
          type: string
          nullable: true
          description: Type of funding round
          enum: [
            'SERIES_A', 'SERIES_B', 'SERIES_C', 'SERIES_D', 'SERIES_E', 'SERIES_F',
            'SERIES_G', 'SERIES_H', 'SERIES_I', 'SERIES_J', 'SERIES_K', 'SERIES_L',
            'SERIES_M', 'SEED', 'SAFE', 'CONVERTIBLE_NOTE', 'EQUITY', 'PREFERRED',
            'SECONDARY_MARKET', 'DEBT_FINANCING', 'GRANT', 'NON_EQUITY_ASSISTANCE',
            'CROWDFUNDING', 'INITIAL_COIN_OFFERING', 'FUNDING_ROUND'
          ]
          example: "SERIES_A"
        extension:
          type: boolean
          nullable: true
          description: Whether this is an extension round
          example: false
        intermediate:
          type: string
          nullable: true
          description: Intermediate round designation
          enum: ['PLUS', 'NONE', 'ONE', 'TWO', 'THREE', 'FOUR', 'FIVE', 'SIX', 'SEVEN', 'EIGHT']
          example: "NONE"
        pre:
          type: boolean
          nullable: true
          description: Whether this is a pre-round (e.g., Pre-Series A)
          example: false
        date:
          type: string
          format: date-time
          nullable: true
          description: Announcement date of the funding round
          example: "2024-01-15T00:00:00Z"
        created_at:
          type: string
          format: date-time
          nullable: true
          description: Date the deal was added to the system
          example: "2024-01-16T12:30:00Z"
        total_round_raised:
          type: number
          nullable: true
          description: Total amount raised in the round (USD $M)
          example: 25
        deal_descriptions:
          type: object
          nullable: true
          properties:
            short_description:
              type: string
              nullable: true
              description: Brief description of the deal
            long_description:
              type: string
              nullable: true
              description: Detailed description of the deal
        company_id:
          type: string
          format: uuid
          description: Unique identifier for the company
          example: "550e8400-e29b-41d4-a716-446655440001"
        investor_ids:
          type: array
          description: UUIDs of investors participating in this deal
          items:
            type: string
            format: uuid
          example: ["c5a3f6ac-f6c9-4686-aa6e-12aeb7419b82"]
        financings:
          type: array
          description: Detailed financing information for deals that have multiple financing types
          items:
            $ref: '#/components/schemas/Financing'
        valuation:
          nullable: true
          description: Valuation information for this deal
          $ref: '#/components/schemas/Valuation'
      required:
        - id
        - company_id
        - investor_ids
        - financings

    DealInvestor:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the investor
          example: "c5a3f6ac-f6c9-4686-aa6e-12aeb7419b82"
        name:
          type: string
          description: Investor name
          example: "Sequoia Capital"
        lead_investor:
          type: boolean
          nullable: true
          description: Whether this investor led the round
          example: true
        angel_investor:
          type: boolean
          nullable: true
          description: Whether this is an angel investor
          example: false
        personnel:
          type: array
          description: Key personnel involved in the deal
          items:
            type: string
          example: ["John Smith"]
        financing_type:
          type: string
          nullable: true
          description: The financing type this investor participated in
          example: "SERIES_A"
        is_debt_investor:
          type: boolean
          description: Whether this investor provided debt financing
          example: false
        domain:
          type: string
          nullable: true
          description: Investor's website domain
          example: "sequoiacap.com"
        linkedin:
          type: string
          nullable: true
          description: Investor's LinkedIn URL
          example: "https://linkedin.com/company/sequoia-capital"
        crunchbase:
          type: string
          nullable: true
          description: Investor's Crunchbase URL
          example: "https://crunchbase.com/organization/sequoia-capital"
      required:
        - id
        - name
        - is_debt_investor

    Financing:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the financing
        type:
          type: string
          description: Type of financing
          enum: [
            'SEED', 'SERIES_A', 'SERIES_B', 'SERIES_C', 'SERIES_D', 'SERIES_E',
            'SERIES_F', 'SERIES_G', 'SERIES_H', 'SERIES_I', 'SERIES_J', 'SERIES_K',
            'SERIES_L', 'SERIES_M', 'CONVERTIBLE_NOTE', 'CROWDFUNDING', 'DEBT_FINANCING',
            'EQUITY', 'FUNDING_ROUND', 'GRANT', 'INITIAL_COIN_OFFERING',
            'NON_EQUITY_ASSISTANCE', 'PREFERRED', 'SAFE', 'SECONDARY_MARKET'
          ]
          example: "SERIES_A"
        size_usd:
          type: number
          nullable: true
          description: Financing amount (USD $M)
          example: 25
        size:
          type: number
          nullable: true
          description: Financing amount in original currency (USD $M)
          example: 25
        currency:
          type: string
          nullable: true
          description: Currency of the original financing amount
          example: "USD"
      required:
        - id
        - type

    Valuation:
      type: object
      nullable: true
      properties:
        valuation_currency:
          type: string
          nullable: true
          description: Currency of the valuation
          example: "USD"
        valuation:
          type: number
          nullable: true
          description: Valuation amount in original currency
          example: 100
        valuation_usd:
          type: number
          nullable: true
          description: Valuation amount (USD $M)
          example: 100
        valuation_usd_millions:
          type: number
          nullable: true
          description: Valuation amount (USD $M)
          example: 100
        type:
          type: string
          description: Type of valuation
          enum: ['DEFAULT', 'POST_MONEY', 'PRE_MONEY']
          example: "POST_MONEY"
      required:
        - type

    AuthError:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              enum: ['AUTH_ERROR', 'INVALID_API_KEY', 'INACTIVE_API_KEY']
              example: 'AUTH_ERROR'
            message:
              type: string
              example: "API key not provided"
            details:
              type: object
              properties:
                help:
                  type: string
                  example: "Please provide your API key in the Authorization header"
                format:
                  type: string
                  example: "Bearer vg_your_api_key_here"
      required:
        - error

    RateLimitError:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              example: 'RATE_LIMIT_EXCEEDED'
            message:
              type: string
              example: "Monthly request limit exceeded"
            details:
              type: object
              properties:
                monthly_limit:
                  type: integer
                  example: 1000
                current_usage:
                  type: integer
                  example: 1000
                remaining_requests:
                  type: integer
                  example: 0
      required:
        - error

    ValidationError:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              enum: ['VALIDATION_ERROR']
              example: 'VALIDATION_ERROR'
            message:
              type: string
              example: "Invalid request parameters"
            details:
              type: object
              properties:
                errors:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        description: The parameter name that failed validation
                        example: "deal.financing_types"
                      value:
                        type: string
                        description: The invalid value provided
                        example: "series-a"
                      message:
                        type: string
                        description: Human-readable error message
                        example: "Invalid financing type(s): series-a. Valid options are: SERIES_A, SERIES_B, SEED, ..."
                      code:
                        type: string
                        description: Machine-readable error code
                        example: "INVALID_FINANCING_TYPE"
                      validOptions:
                        type: array
                        items:
                          type: string
                        description: List of valid values for enum parameters
                        example: ["SERIES_A", "SERIES_B", "SEED"]
                help:
                  type: string
                  example: "Please check your request parameters and ensure they meet the required format and constraints."
      required:
        - error

    ServerError:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              example: 'INTERNAL_SERVER_ERROR'
            message:
              type: string
              example: "An unexpected error occurred"
            details:
              type: string
              nullable: true
              description: Error details (only in development mode)
      required:
        - error

tags:
  - name: deals
    description: Venture capital deals data
